---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About the project">
    <h1>About the project</h1>
    <p> This project launches as a demonstration of how to go through different CTFs in different platforms, to help to understand better about cybersecurity</p>
</Layout>