---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="CTF Walkthroughs">
	<body>
		<ul>
			<li><a href="/posts/post-01/">Post 01</a></li>
		  </ul>
	</body>
</Layout>